.favs {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3vh;
    width: 25vw;
    height: 100%;
    text-align: center;
}

.list-item {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border: 1px solid #b6a736;
    text-align: center;
    background: white;
    box-shadow: 0px 0px 0px transparent;
    border: 1px solid #b6a736;
    text-shadow: 0px 0px 0px transparent;
    width: 15vw;
    height: 8vh;
    margin: 1vh 4vw 0 0;
    color: #b6a736;
    font-weight: bold;
    
    
}



.list-item:hover {
    background-color: #b6a736; /* Green */
    color: white;
    border: 1px solid white;
}

h2 {
    margin-bottom: 3vh;
}

.unordered-list {
    display: flex;
    flex-direction: column;
}

.gifArray {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75vw;
    /* justify-content: center; */
}

.center {
    display: flex;
    flex-wrap: wrap;
}

.image-container {
    display: flex;
    margin: 1vh 1vw;
    flex-direction: column;
    align-items: center;
}

.rating {
    font-weight: bold;
    margin: 3px 0 5px 0;
}